body {
    overflow: hidden;
    background: rgb(208, 208, 208);
}

* {
    color: white;
    font-family: sans-serif;
}

canvas {
    margin: -8px;
}

html, body, div#root { min-height: 100%; }

#root {
    margin: -8px;
    height: 100vh;
    display: flex;
}