.toggleIcon {
    padding: 0px;
    height: 25px;
    width: 25px;
    padding: 0px;
    margin-right:10px;
    margin-left: 10px;
    background-size: cover;
}

.viewToggle {
    display: grid;
    grid-template-columns: 35px auto;
    width: 55px;
    height: 25px;
    font-size: 1.3em;
    cursor: pointer;
    overflow: hidden;
}

.toggled {
    background-color: #4CAF50;
}

.bar {
    position: absolute;
    background: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 200px auto 150px;
    width: 100%;

    bottom: 0px;
    left: 0px;
}

.bar>* {
    margin: 0px 50px 0px 0px;
    vertical-align: middle;
}

.views {
    position: relative;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    background: rgb(84, 84, 84);
}

.bar span,.bar p {
    font-size: 1.2em;
    margin-left: 15px;
    width: 125px;
    color: black;
}

.bar>p{
    grid-column: 3;
    text-align: right;
    background: rgb(84, 84, 84);
    padding-right: 20px;
}